body {
	background-image: url("/images/bg.jpg");
}

#header {
	text-align: center;
	padding: 6em 0 4em 0;
}

#header h1 {
	color: rgba(255, 255, 255, 0.65);
}

#header .avatar {
	border-radius: 100%;
	display: inline-block;
	margin: 0 0 2em 0;
	padding: 0.5em;
	border: solid 1px rgba(255, 255, 255, 0.25);
	background-color: rgba(255, 255, 255, 0.075);
}

#header .avatar img {
	border-radius: 100%;
	display: block;
	width: 10em;
}

@media screen and (max-width: 1280px) {
	#header {
		padding: 4em 0 2em 0;
	}
}

.text-white {
	color: #fff !important;
}

.ui-bg-overlay-container, .ui-bg-video-container {
	position: relative;
}

.ui-bg-cover {
	background-color: transparent;
	background-position: center center;
	background-size: cover;
}

.ui-bg-overlay-container .ui-bg-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
}

.bg-dark {
	background-color: rgba(24, 28, 33, 0.9) !important;
}

.opacity-50 {
	opacity: .5 !important;
}

.bg-dark {
	background-color: rgba(24, 28, 33, 0.9) !important;
}

.ui-bg-overlay-container>*, .ui-bg-video-container>* {
	position: relative;
}

@media ( min-width : 992px) {
	.container, .container-fluid {
		padding-right: 2rem;
		padding-left: 2rem;
	}
}

.media, .media>:not (.media-body ), .jumbotron, .card {
	-ms-flex-negative: 1;
	flex-shrink: 1;
}

.d-flex, .d-inline-flex, .media, .media>:not (.media-body ), .jumbotron,
	.card {
	-ms-flex-negative: 1;
	flex-shrink: 1;
}

.ui-w-100 {
	width: 100px !important;
	height: auto;
}

.font-weight-bold {
	font-weight: 700 !important;
}

.opacity-75 {
	opacity: .75 !important;
}

.tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:hover,
	.tabs-alt.nav-tabs .nav-link.active:focus, .tabs-alt>.nav-tabs .nav-link.active,
	.tabs-alt>.nav-tabs .nav-link.active:hover, .tabs-alt>.nav-tabs .nav-link.active:focus
	{
	-webkit-box-shadow: 0 -2px 0 #26B4FF inset;
	box-shadow: 0 -2px 0 #26B4FF inset;
}

.nav-tabs:not (.nav-fill ):not (.nav-justified ) .nav-link, .nav-pills:not
	(.nav-fill ):not (.nav-justified ) .nav-link {
	margin-right: .125rem;
}

.nav-tabs.tabs-alt .nav-link, .tabs-alt>.nav-tabs .nav-link {
	border-width: 0 !important;
	border-radius: 0 !important;
	background-color: transparent !important;
}

.nav-tabs .nav-link.active {
	border-bottom-color: #fff;
}


	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul,li {
		list-style: none;
	}
	
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}




