<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.instagram.dao.LoginMapper">
 
     <select id="getSelectMeberInfo" parameterType="String" resultType="com.instagram.dto.Member">
        <!-- /* 회원정보조회 */ -->
        SELECT 
            ID as id
            , ID as username
            , PW as password
            , MEMBER_NAME as memberName
            , USER_ROLE as userRole
        FROM MEMBER
           WHERE ID = #{id}
    </select>
    
    <update id="setUpdatePasswordLockCnt" parameterType="String">
         <!-- /*비밀번호 틀린 횟수 증가*/ -->
         UPDATE MEMBER 
        SET
              PASSWORD_LOCK = NVL(PASSWORD_LOCK, 0) + 1
        WHERE
              id = #{id}
    </update>
 
    <update id="setUpdatePasswordLockCntReset" parameterType="String">
       <!--   /*비밀번호 틀린 횟수 초기화*/ -->
         UPDATE MEMBER 
        SET
              PASSWORD_LOCK = 0
        WHERE
              id = #{id}
    </update>
    
    
     <insert id="setInsertMember" parameterType="com.instagram.dto.Member">
       <!--  /*회원 가입*/ -->
        INSERT INTO MEMBER
            (
               
                ID <!-- /* 아이디 */ -->
                , PW <!-- /* 비밀번호 */ -->
                , MEMBER_NAME <!-- /* 이름 */ -->
                , USER_ROLE <!-- /* 권한 */ -->
                  , EMAIL <!-- /* 이메일 */  -->
                , PASSWORD_LOCK <!-- /* 비밀번호 틀린 횟수 */ -->
                <!-- , PASSWORD_CHG_DATE /* 비밀번호 변경일자 */
                , REG_DATE /* 등록일 */
                , MOD_DATE  -->
                , userSTATUS <!-- /* 회원상태 */ -->
            )
        VALUES
            (
               
                #{id}
                , #{password}
                , #{memberName}
                , #{userRole}
                , #{email}
                , 0
               <!--  , TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
                , TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
                , TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS') -->
                , 'O'
            )
    </insert>
 
   
    
</mapper>


